.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
._CHANGELOG.md
._LICENSE
._Package.swift
._README.md
.swiftpm/xcode/._package.xcworkspace
Asset/._logo.png
Sources/FirstOpenViews/._FirstOpenType.swift
Sources/FirstOpenViews/._FirstOpenView.swift
Sources/FirstOpenViews/._InformationDetailView.swift
Sources/FirstOpenViews/._ViewExtension.swift
Sources/FirstOpenViews/._WelcomeView.swift
Sources/FirstOpenViews/._WhatsNewView.swift
Tests/._LinuxMain.swift
Tests/FirstOpenViewsTests/._FirstOpenViewsTests.swift
Tests/FirstOpenViewsTests/._XCTestManifests.swift
